button {
  cursor: pointer;
  border: none;
}

.project-btn {
  display: inline-flex;
  width: fit-content;
  padding-right: 16px;
  margin: 7px 0;
  align-items: center;
  border-radius: 40px;
  background: var(--white);
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: filter 0.3s ease;
}

.project-btn img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.live-demo-btn:hover {
  background-color: var(--btn-blue);
  color: var(--white);
  transition: 0.5s;
}

.live-demo-btn:hover img {
  filter: invert(1) brightness(2);
}

.view-code-btn:hover {
  background-color: var(--btn-pink);
  color: var(--white);
  transition: 0.3s ease;
}

.view-code-btn:hover img {
  filter: invert(1) brightness(2);
}

.contact-btn {
  background: transparent;
  opacity: 0.3;
}

.contact-btn:hover {
  opacity: 1;
  transition: 0.5s ease;
}
