.featured-projects-section {
  display: flex;
  padding: 128px 16px 128px 16px;
  flex-direction: column;
  align-items: center;
}

.featured-projects-section h1 {
  color: #0b24f5;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  padding: 0;
  margin-bottom: 32px;
}
