.featured-projects-section {
  display: flex;
  padding: 80px 16px;
  flex-direction: column;
  align-items: center;
}

.featured-projects-section h1 {
  color: var(--blue);
  text-align: center;
  font-style: normal;
  line-height: 66px;
  margin-bottom: 80px;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 32px;
  }
}

/***** Desktop *****/
@media (min-width: 1024px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 234px;
  }
}
