footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4575;
  width: 100%;
  height: 114px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Montserrat";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  overflow: hidden;
}

.rolling-text {
  white-space: nowrap;
  animation: 100s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
