.header-div {
  display: flex;
  padding: 64px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-div img {
  align-self: center;
}

.header-div h1,
h2 {
  align-self: flex-start;
  font-family: "Montserrat";
  margin: 0;
}

.header-div h2 {
  font-size: 18px;
  margin-top: 32px;
}

.header-div p {
  font-family: "Hind";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
