.profile-headline {
  color: var(--blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.section-headline {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skills-headline {
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 2px;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-headline {
    font-size: 56px;
    padding-bottom: 32px;
  }
}

/***** Desktop *****/
@media (min-width: 1024px) {
  .profile-headline {
    font-size: 80px;
    padding-bottom: 16px;
  }

  .section-headline {
    font-size: 80px;
    font-weight: 700;
  }
}
