.contact-section {
  display: flex;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.contact-section h1 {
  color: var(--blue);
  margin: 0;
}

.contact-section h2,
h3 {
  text-align: center;
  padding: 5px;
  margin: 0;
}

.contact-btn-div {
  display: flex;
  justify-content: center;
  gap: 32px;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-section h3 {
    font-size: 24px;
  }
}

/***** Desktop *****/
@media (min-width: 1024px) {
  .contact-section {
    padding: 128px 32px;
  }

  .contact-section h2,
  h3 {
    font-size: 32px;
  }
}
