.featured-projects-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 16px;
}

.featured-projects-section h1 {
  color: var(--blue);
  text-align: center;
  line-height: 66px;
  margin-bottom: 80px;
  grid-column: 1 / span 4;
}

.projects-div {
  grid-column: 1 / span 4;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 32px;
  }
}

/***** Desktop *****/
@media (min-width: 1024px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 234px;
  }
}
