.featured-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 16px;
  gap: 64px;
}

.featured-projects-section h1 {
  color: var(--blue);
  text-align: center;
  line-height: 66px;
}

/***** Tablet *****/
@media (min-width: 745px) and (max-width: 1023px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 32px;
  }
}

/***** Desktop *****/
@media (min-width: 1024px) {
  .featured-projects-section {
    align-items: flex-start;
    padding: 128px 161px;
    gap: 128px;
  }
}

/***** Widescreen Desktop *****/
@media (min-width: 1441px) {
  .featured-projects-section {
    padding: 128px 234px;
  }
}
