.profile-headline {
  color: #0b24f5;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.section-headline {
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skills-headline {
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
  padding: 2px;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-headline {
    font-size: 56px;
    padding-bottom: 32px;
  }
}
