.profile-picture {
  width: 164px;
  height: 164px;
  border-radius: 164px;
}

.project-image {
  height: 200px;
  border-bottom: 10px solid #0025ff;
  border-left: 10px solid #0025ff;
  margin: 0;
}
