.profile-picture {
  width: 164px;
  height: 164px;
  border-radius: 164px;
}

.project-image {
  width: 100%;
  border-bottom: 10px solid #0025ff;
  border-left: 10px solid #0025ff;
  margin: 0 0 24px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-image {
    height: 100%;
    width: 200px;
    object-fit: cover;
    margin-right: 32px;
    margin-bottom: 0;
  }
}
