.project-card {
  display: grid;
  margin: 64px 0 0 0;

  max-width: 325px;

  grid-template-areas:
    "image"
    "project-title"
    "description"
    "topics-list"
    "demo-btn"
    "code-btn";
}

.project-image {
  grid-area: image;
}

.project-card h2 {
  font-family: "Montserrat";
  font-size: 24px;
  padding: 0;
  grid-area: project-title;
}

.project-card p {
  font-family: "Hind";
  font-size: 18px;
  margin: 16px 0;
  grid-area: description;
}

.topics {
  grid-area: topics-list;
}
.live-demo-btn {
  grid-area: demo-btn;
}

.view-code-btn {
  grid-area: code-btn;
}

/***** Tablet *****/
@media (min-width: 768px) and (max-width: 1023px) {
  .project-card {
    max-width: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 0.5fr 0.1fr 0.2fr;
    grid-template-areas:
      "image project-title project-title"
      "image description description"
      "image topics-list topics-list"
      "image demo-btn code-btn";
  }

  .project-image {
    align-self: center;
  }

  .project-btn {
    margin: 0;
  }
}
